main {
	margin-top: 75px;
	margin-bottom: 75px;
}

footer {
	position: fixed;
	background-color: #3b4045; 
	height: 50px;
    bottom: 0;
    width: 100%;
}

#copyright {
	color: white;
	padding-top:15px;
	padding-bottom:10px; 
}